<!--
<mat-card class="example-card">
    <mat-card-header >
        <button mat-button >  
         <img mat-card-avatar  alt="Brand" class="example-header-image" src="assets/material.svg" >
           Material
         </button>
        <span class="example-fill-remaining-space"></span>
        <button mat-button >SignUp</button>
        <button mat-button >Login</button>
    </mat-card-header>
</mat-card>
-->

 <span >
 <h2> SignUp</h2>
 </span>
 <form [formGroup]="user"   >
    <mat-form-field class="full-width">
      <input matInput placeholder="Username"   formControlName="username" >
      <mat-error *ngIf="errors.username"  >{{errors.username}}</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="E-mail" formControlName="email"   >
        <mat-error > {{errors.email}} </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password"  formControlName="password" >
        <mat-error > {{errors.password}} </mat-error>
      </mat-form-field>
      <span style="align-content: center;">
      <button mat-raised-button style="width:100%;" color="primary"  type="submit" (click)="createUser()" >Submit</button>
      </span>
</form>
<mat-spinner *ngIf="isProcessing" class="centered" ></mat-spinner>