.example-card {
   /* max-width: 400px; */
   background:#3f51b5;
   color:white;
   width:100%;


  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); 
    background-size: cover;
    */
  }


  mat-grid-tile {
    background: lightblue;
  }
  .brand {
    position: absolute;
    left: 5px;
  }